.CardForCard {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.CardForCard button {
    border: none;
    background-color: rgb(10, 250, 10);
    margin-top: 10px;
}

.CardForCard input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.CardForCard input:focus {
    outline: none;
}