.Form{
    display: flex;
    flex-direction: column;
    
}

.name{
    display: flex;
    align-items: center;
}
.name input{
    border: none;
    background-color: rgb(226, 225, 195);
    text-transform: capitalize;
}
.name input:focus{
    background-color: white;
}
.name img{
    width: 24px;
    height: 24px;
}
.Description{
    display: flex;
    align-items: center;
   
}
.Description img{
    width: 24px;
    padding-right: 10px;
    height: 24px;
}
.Description p{
    padding-right: 10px;
}
.TextEditor{
    background-color: white;
    border: 1px solid blue;
}
.EditDescription{
    background-color: rgb(221, 219, 172);
    border: none;
}
.EditDescription:hover{
    background-color: rgb(228, 225, 157);
}
.Activity{
    display: flex;
    justify-content: space-between;
}
.Activity div{
    display: flex;
   align-items: center;
}
.Activity img {
    width: 24px;
    height: 24px;
}