.Column {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: flex-start;
}
@media (min-width: 350px) and (max-width:700px) {
    .Column{
        flex-wrap: wrap;
    }
  }

