.ImageC {
    opacity: 0;
    width: 0;
    height: 0;
}

.Cover {
    position: relative;
    display: flex;
    border: none;
    cursor: pointer;
    background-color: rgb(221, 219, 172);
    padding: 6px;
}

.Cover:hover {
    background-color: rgb(228, 225, 157);

}