.Btns{
    display: flex;
    margin-top: 10px;
}
.Btns button{
    border: none;
    border-radius: 4px;

}
.Save{
    background-color: rgb(68, 68, 236);
    padding: 4px;
}

.Cancel{
    border: none;
    margin-left: 20px;
    background-color: rgb(226, 225, 195);
}
.Cancel:hover{
    background-color: rgb(221, 219, 163);
    
}